# Ignore arquivos e pastas do Visual Studio
.vs/
*.user
*.suo

# Binários e pastas de build
bin/
obj/
*.dll
*.exe
*.pdb

# Arquivos temporários
*.log
*.cache
*.db
*.vscode/

# Configurações de sistema
Thumbs.db
.DS_Store
